<h1>Delete Account Request</h1>

<p>If you would like to delete your Learnify Pakistan account and associated data, please email us at:</p>

<p><strong>learnifypakistan81@gmail.com</strong></p>

<p>Include the following details:</p>

<ul>
  <li>Your registered username</li>
  <li>Your registered email</li>
</ul>

<p>We will process your request within 7 working days.</p>

<p>Upon deletion:</p>
<ul>
  <li>Your account will be permanently removed</li>
  <li>Your quiz data will be deleted</li>
  <li>Your profile information will be removed</li>
</ul>